@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
/* font-family: "Work Sans", sans-serif; */
* {
  margin: 0;
  padding: 0;
}

.btn-container {
  text-align: center;
}

.btn {
  padding: 17px 26px 17px 26px;
  color: rgb(255, 255, 255);
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0%;
  text-align: center;
  border-radius: 7px;
  background: rgb(82, 195, 3);
  border: none;
  cursor: pointer;
}

#hero {
  height: 736px;
  background-image: linear-gradient(
      0deg,
      rgb(16, 16, 16) -19.5%,
      rgba(16, 16, 16, 0) 100%
    ),
    url("../assets/hero-bg.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

#hero .hero-content {
  width: 818px;
  margin: 0 auto;
}

#hero .hero-content .subtitle {
  color: rgb(255, 255, 255);
  font-family: Work Sans;
  font-size: 26px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.8;
  margin-bottom: 13px;
}

#hero .hero-content .title {
  color: rgb(255, 255, 255);
  font-family: Work Sans;
  font-size: 51px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 19px;
}

#hero .hero-content .description {
  color: rgb(255, 255, 255);
  font-family: Work Sans;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.7;
  margin-bottom: 26px;
}

#card-box {
  width: 1056px;
  margin: 134px auto;
}

/* #card-box .info {
} */

#card-box .subtitle {
  color: rgb(16, 16, 16);
  font-family: Work Sans;
  font-size: 19px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.6;
}

#card-box .title {
  color: rgb(16, 16, 16);
  font-family: Work Sans;
  font-size: 38px;
  font-weight: 700;
  line-height: 51px;
  letter-spacing: 0%;
  text-align: center;
}

.card-container {
  margin-top: 38px;
  display: flex;
  font-family: Work Sans;
  justify-content: space-between;
  gap: 20px;
}

.card {
  max-width: 339px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.card .image-box {
  width: 339px;
}
.card .image-box img {
  width: 100%;
}

.card .shop {
  padding: 14px 32px 14px 32px;
  border-radius: 7px;
  background: rgba(105, 213, 28, 0.15);
  color: rgb(16, 16, 16);
  font-family: Work Sans;
  font-size: 19px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
}
